.car {
    display: flex;
    justify-content: space-around;
}

.info {
    display: inline-block;
}

.price {
    font-size: 1.5rem;
    display: inline-block;
}

.buttons {
    display: flex;
    flex-direction: column;
}