/*Checkbox*/
.ant-checkbox-wrapper {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

/*Radio*/
:where(.css-dev-only-do-not-override-1rqnfsa).ant-checkbox,
:where(.css-dev-only-do-not-override-1rqnfsa).ant-radio-wrapper .ant-radio-inner {
    transform: scale(1.2)
}
:where(.css-dev-only-do-not-override-1drr2mu).ant-radio-group {
    margin-bottom: 1rem;
}
:where(.css-dev-only-do-not-override-1drr2mu).ant-radio-wrapper,
.clearFilters {
    font-size: 1.3rem;
}

/*Select*/
:where(.css-dev-only-do-not-override-1drr2mu).ant-select-multiple .ant-select-selection-overflow{
    font-size: 1.2rem;
}
.carFilter .ant-select {
    width: 15rem;
    margin-bottom: 1rem;
    max-height: max-content;
}
:where(.css-dev-only-do-not-override-1drr2mu).ant-select-multiple.ant-select-lg.ant-select-show-arrow .ant-select-selector,
:where(.css-dev-only-do-not-override-1drr2mu).ant-select-multiple.ant-select-lg.ant-select-allow-clear .ant-select-selector{
    height: auto;
}
:where(.css-dev-only-do-not-override-1drr2mu).ant-select-dropdown .ant-select-item-option{
    font-size: 1.3rem;
}

.carFilter {
    border: 1px solid #c9c9c9;
    border-radius: .5rem;
    padding: 1rem 1.8rem;
    background: #c9c9c9;
    margin-right: 2rem;
}

.clearFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 9rem;
    color: white;
    background: #001529;
    border: 1px solid #001529;
    border-radius: .5rem;
}

.clearFilters:hover {
    cursor: pointer;
    color: #001529;
    background: white;
}